<h1>Ideaboard</h1>

<h2>Page <%= @page %></h2>

<%= form_with model: Idea.new do |form| %>
  <div>
    <%= form.label :body %><br>
    <%= form.text_area :body, required: true %>
  </div>

  <div>
    <%= form.submit "Submit" %>
  </div>
<% end %>

<ul>
  <% @ideas.each do |idea| %>
    <li>
      <%= link_to(idea.body, idea) %>
    </li>
  <% end %>
</ul>

<a href="/?p=<%= @page - 1 %>"><%= "Previous" if @has_previous %></a>

<a href="/?p=<%= @page + 1 %>"><%= "Next" if @has_next %></a>